@font-face {
    src: url('./NotoSans.ttf');
    font-family: 'Noto Sans'
}

@font-face {
    src: url('./NotoSerif.ttf');
    font-family: 'Noto Serif'
}

@font-face {
    src: url('./RobotoMono.ttf');
    font-family: 'Roboto Mono'
}
body {
    font-family: 'Noto Sans', sans-serif;
}

* {
    font-size: 1em;
}

h1 {
    font-size: 4em; font-weight: bold;
}

h2 {
    font-size: 4em; font-weight: normal;
}

h3 {
    font-size: 3em; font-weight: bold;   
}

h4 {
    font-size: 3em; font-weight: normal;
}

h5 {
    font-size: 2.5em; font-weight: bold;  
}

h6 {
    font-size: 2.5em; font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 .5em calc(20rem + 7rem - 3em);
}

p {
    font-size: 3em;
}

b {
    font-weight: bold; font-size: .9em;
}

i {
    font-style: italic; 
}

em {
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 1em;
    display: block;
}
em::before {
    content: '"';Bold.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam iure unde dicta, voluptatibus nisi minima mollitia odit inventore assumenda molestias ipsum tempore. Odit voluptates reiciendis assumenda eum tempore nobis nisi.
    Italic.
    Lorem, ipsum d
    font-size: 3em;
    margin-left: -.3em;
}

strong {
    text-transform: uppercase;
}

code {
    background: var(--alt-bg);
    display: inline-flex;
    width: auto;
    padding: 1em; margin: .5em;
    border-radius: 1em;
    font-size: .9em;
    font-family: 'Roboto Mono', monospace;
}

var {
    background: var(--alt-bg);
    font-size: .9em;
    font-family: 'Roboto Mono', monospace;
    padding: .1em;
}