@import "./palette/color.css";
@import "./text/fonts.css";
@import "./text/text.css";
@import "./forms/forms.css";
@import "./lists/lists.css";
@import "./images/images.css";
@import "./grid/grid.css";
@import "./flex-box/flex.css";
@import "./text/note.css";
@import "./iframe/iframe.css";


/*Basic CSS - Probably no need to change...*/
html {
  margin: 0; padding: 0; font-family: 'font', sans-serif; outline: 0;
}

/*Change Default Size*/
@media screen and (min-width: 0px) {
  :root {
    font-size: 9pt; margin: 0; padding: 0;
  }
}
@media screen and (min-width: 500px) {
  :root {
    font-size: 10pt; margin: 0; padding: 0;
  }
}
@media screen and (min-width: 1000px) {
  :root {
    font-size: 11pt; margin: 0; padding: 0;
  }
}
@media screen and (min-width: 1500px) {
  :root {
    font-size: 12pt; margin: 0; padding: 0;
  }
}
@media screen and (min-width: 2000px) {
  :root {
    font-size: 13pt; margin: 0; padding: 0;
  }
}
/**/

/**/
/*Miscellanious styles...*/
/**/
.resize {
  resize: both;
}
.resizeH {
  resize: horizontal;
}
.resizeV {
  resize: vertical;
}
.noResize {
  resize: none;
}

/*Horizontal Rullers*/
hr {
  border: var(--primary) solid .05rem;
  margin: 2rem auto; width: 85%;
}
.hr-short {
  width: 40%;
  border: solid .05rem;
}
.hr-center {
  margin: 2rem auto;
}
.hr-dashed {
  border: dashed .05rem;
}
.hr-thick {
  border: solid .1rem;
}
.hr-thick-dashed {
  border: dashed .1rem;
}
.hr-double {
  margin: 0;
}


.invisable {
  visibility: hidden;
}
