/**/
/*VARIABLES*/
/**/
/*Normal*/
* {
  --red: #ff4b4b;
  --yellow: #ffff4b;
  --green: #4bff4b;
  --cyan: #4bffff;
  --blue: #4b4bff;
  --purple: #ff4bff;
  --black: #111;
  --white: #eee;
  --transparent: #888d;
}
/*Bright*/
* {
  --redB: #ff5c5c;
  --yellowB: #ffff5c;
  --greenB: #5cff5c;
  --cyanB: #5cffff;
  --blueB: #5c5cff;
  --purpleB: #ff5cff;
  --blackB: #222;
  --whiteB: #fff;
  --transparentB: #eeed;
}

/*Dark*/
* {
  --redD: #ff3a3a;
  --yellowD: #ffff3a;
  --greenD: #3aff3a;
  --cyanD: #3affff;
  --blueD: #3a3aff;
  --purpleD: #ff3aff;
  --blackD: #000;
  --whiteD: #ddd;
  --transparentD: #111d;
}
/*Primary*/
* {
  --primary: var(--red);
  --primaryB: var(--redB);
  --primaryD: var(--redD);
  --primaryBG: var(--red);
  --primaryBBG: var(--redB);
  --primaryDBG: var(--redD);
}



/**/
/*STYLES*/
/**/
/*Here you can change the default primary colors: */
#primary {
  color: var(--red)
}
.primary {
  color: var(--red)
}
#primaryB {
  color: var(--redB)
}
.primaryB {
  color: var(--redB)
}
#primaryD {
  color: var(--redD)
}
.primaryD {
  color: var(--redD)
}
#primaryBG {
  background: var(--red)
}
.primaryBG {
  background: var(--red)
}
#primaryBBG {
  background: var(--redB)
}
.primaryBBG {
  background: var(--redB)
}
#primaryDBG {
  background: var(--redD)
}
.primaryDBG {
  background: var(--redD)
}


/*COLOR STYLES*/
/*Normal*/
.red {
  color: var(--red);
}
.yellow {
  color: var(--yellow)
}
.green {
  color: var(--green);
}
.cyan {
  color: var(--cyan);
}
.blue {
  color: var(--blue);
}
.purple {
  color: var(--purple)
}
.black {
  color: var(--black);
}
.white {
  color: var(--white)
}
.transparent {
  color: var(--transparent)
}

/*Bright*/
.redB {
  color: var(--redB);
}
.yellowB {
  color: var(--yellowB)
}
.greenB {
  color: var(--greenB);
}
.cyanB {
  color: var(--cyanB);
}
.blueB {
  color: var(--blueB);
}
.purpleB {
  color: var(--purpleB)
}
.blackB {
  color: var(--blackB);
}
.whiteB {
  color: var(--whiteB)
}
.transparentB {
  color: var(--transparentB)
}

/*Dark*/
.redD {
  color: var(--redD);
}
.yellowD {
  color: var(--yellowD)
}
.greenD {
  color: var(--greenD);
}
.cyanD {
  color: var(--cyanD);
}
.blueD {
  color: var(--blueD);
}
.purpleD {
  color: var(--purpleD)
}
.blackD {
  color: var(--blackD);
}
.whiteD {
  color: var(--whiteD)
}
.transparentD {
  color: var(--transparentD)
}


/*BACKGROUNDS*/
/*Normal*/
.redBG {
  background: var(--red);
}
.yellowBG {
  background: var(--yellow)
}
.greenBG {
  background: var(--green);
}
.cyanBG {
  background: var(--cyan);
}
.blueBG {
  background: var(--blue);
}
.purpleBG {
  background: var(--purple)
}
.blackBG {
  background: var(--black);
}
.whiteBG {
  background: var(--white)
}
.transparentBG {
  background: var(--transparent)
}

/*Bright*/
.redBBG {
  background: var(--redB);
}
.yellowBBG {
  background: var(--yellowB)
}
.greenBBG {
  background: var(--greenB);
}
.cyanBBG {
  background: var(--cyanB);
}
.blueBBG {
  background: var(--blueB);
}
.purpleBBG {
  background: var(--purpleB);
}
.blackBBG {
  background: var(--blackB);
}
.whiteBBG {
  background: var(--whiteB)
}
.transparentBBG {
  background: var(--transparentB);
}

/*Dark*/
.redDBG {
  background: var(--redD);
}
.yellowDBG {
  background: var(--yellowD)
}
.greenDBG {
  background: var(--greenD);
}
.cyanDBG {
  background: var(--cyanD);
}
.blueDBG {
  background: var(--blueD);
}
.purpleDBG {
  background: var(--purpleD)
}
.blackDBG {
  background: var(--blackD);
}
.whiteDBG {
  background: var(--whiteD)
}
.transparentDBG {
  background: var(--transparentD)
}

/*Notr-box border-left styles*/
.note-red {
  border-left: solid .3rem var(--red);
}
.note-yellow {
  border-left: solid .3rem var(--yellow)
}
.note-green {
  border-left: solid .3rem var(--green);
}
.note-cyan {
  border-left: solid .3rem var(--cyan);
}
.note-blue {
  border-left: solid .3rem var(--blue);
}
.note-purple {
  border-left: solid .3rem var(--purple)
}
.note-black {
  border-left: solid .3rem var(--black);
}
.note-white {
  border-left: solid .3rem var(--white)
}
.note-transparent {
  border-left: solid .3rem var(--transparent)
}

/*Bright*/
.note-redB {
  border-left: solid .3rem var(--redB);
}
.note-yellowB {
  border-left: solid .3rem var(--yellowB)
}
.note-greenB {
  border-left: solid .3rem var(--greenB);
}
.note-cyanB {
  border-left: solid .3rem var(--cyanB);
}
.note-blueB {
  border-left: solid .3rem var(--blueB);
}
.note-purpleB {
  border-left: solid .3rem var(--purpleB)
}
.note-blackB {
  border-left: solid .3rem var(--blackB);
}
.note-whiteB {
  border-left: solid .3rem var(--whiteB)
}
.note-transparentB {
  border-left: solid .3rem var(--transparentB)
}

/*Dark*/
.note-redD {
  border-left: solid .3rem var(--redD);
}
.note-yellowD {
  border-left: solid .3rem var(--yellowD)
}
.note-greenD {
  border-left: solid .3rem var(--greenD);
}
.note-cyanD {
  border-left: solid .3rem var(--cyanD);
}
.note-blueD {
  border-left: solid .3rem var(--blueD);
}
.note-purpleD {
  border-left: solid .3rem var(--purpleD)
}
.note-blackD {
  border-left: solid .3rem var(--blackD);
}
.note-whiteD {
  border-left: solid .3rem var(--whiteD)
}
.note-transparentD {
  border-left: solid .3rem var(--transparentD)
}
