* {
  box-sizing: border-box;
}

/* GRID UI --- WRAPPER */

.grid-root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-spacer {
  width: 100%;
}
.grid-content-wrapper-small {
  grid-column: 2 / 12;
}
.grid-content-wrapper {
  grid-column: 3 / 11;
}
.grid-content-wrapper-big {
  grid-column: 4 / 10;
}
.grid-content-nowrapper {
  grid-column: 1 / 13;
}

/* GRID UI --- SIDEBAR, HEADER, CONTENT,*/