.avatar { /*Change to any available color if you want to, this is applied if no image is specified in the 'src' attribute.*/
  background: url("./svg/Profile/red.svg");
  width: 14rem; height: auto;
  border-radius: 50%;
}

.crew-avatar {
  background-image: url("svg/Profile/blue.svg");
  width: 20rem; height: auto;
  border-radius: 50%;
  margin: 1rem auto;
}
.banner {
  width: 90%; height: auto;
  margin: 1rem auto;
}
.banner img {
  width: 100%; height: 24rem;
  object-fit: cover;
  margin: auto;
  border-radius: 3rem;
}
.banner .banner-content {
  margin: 1.5rem;
  margin-top: -22rem;
}
