/*ALIGNING CLASSES*/
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}

/*SIZES*/
.text-smaller {
  font-size: .5rem
}
.text-small {
  font-size: .8rem;
}
.text-normal {
  font-size: 1rem;
}
.text-big {
  font-size: 1.2rem;
}
.text-bigger {
  font-size: 1.5rem;
}

/*TEXT INDENTATION*/
.indent-long {
  margin-left: 8rem;
}
.indent-normal {
  margin-left: 5rem;
}
.indent-short {
  margin-left: 2rem;
}

/*FONT CUSTOMIZATIONS*/
.nocaps {
  text-transform: lowercase;
}
.allcaps, .uppercase {
  text-transform: uppercase;
}
.auto-capitalize {
  text-transform: capitalize;
}
.text-full-width {
  text-transform: full-width;
}


/*TEXT DECORATION*/
.underline {
  text-decoration: underline;
}
.overline {
  text-decoration: overline;
}
.line-through {
  text-decoration: line-through;
}

/*BASIC TEXT*/
p {
  font-size: 1rem;
}

h1 {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0;
}
h2 {
  font-size: 1.75rem;
  font-weight: normal;
  margin: 0;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}
h4 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}
h5 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}
h6 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0;
}
em {
  font-style: italic;
  font-weight: bold;
}
strong {
  text-transform: uppercase;
  font-weight: bold;
}
u {
  text-decoration: underline;
}
var {
  font-style: normal;
  font-size: .8rem;
  font-family: 'Roboto Mono', monospace;
  padding: .3rem; margin: .5rem;
  margin: 0;
  background: var(--transparentB);
  border-radius: .2rem;
}
code {
  font-family: 'Roboto Mono', monospace;
  font-size: .85rem;
  padding: .4rem;
  display: inline-flex;
  border-radius: .2rem;
  background: var(--transparentB);
}
span {
  color: var(--primary);
}
a {
  color: var(--blue);
}
a:visited {
  color: var(--purple);
}
a[target=_blank]::after {
  content: '';
  background-image: url(../images/svg/Arrow/red.svg);
  background-size: .8em .8em;
  display: inline-flex;
  align-self: center;
  margin: .3em .3em .1em .3em;
  height: .8em;
  width: .8em;
}