@import "animations.css";
input {
  padding: .2rem; margin: .1rem;
  font-size: 0.85rem;
  border: 0;
  outline: 0;
}
input[type=text], input[type=password] {
  border-bottom: var(--primary) .1rem solid;
}
input[type=text]:focus, input[type=password]:focus {
  animation: textFieldFocus forwards .25s;
}
input[type=radio], input[type=checkbox] {
  user-select: all;
}
textarea {
  padding: .2rem;
  font-size: .8rem;
  outline: 0;
  font-family: 'font', sans-serif;
}
button {
  padding: .5rem; margin: .1rem;
  font-size: 1rem;
  border: 0; outline: 0;
}
button:focus {
  animation: buttonClick forwards .25s;
}


/*FORM*/
form {
  width: auto;
  margin: .5rem;
  padding: 1rem;
  border-radius: .3rem;
  display: table;
}
.form-center {
  margin: .5rem auto;
}
.form-popup-btn {

}
.form-popup {

}
